{% extends 'base.html' %}


{% block contenido %}
<div class="container">

<h1>Acerca de mi</h1>
    <p>
    
    Mi nombre es Guido Favara, Lic. en Gestion de Tecnologia en UADE en el año 2020.
    Trabajo en sistemas en una empresa multinacional desde 2013.
    </p>
<h1>Acerca del proyecto</h1>
    <p>
    
    La idea del proyecto es generar una aplicacion que permita cargar la informacion de distintas peliculas.
    En su primer version, solo permite cargar datos basicos de la pelicula, productora y director.

    En siguientes versiones permitira consumo de algunas APIs
    </p>
</div>
{% endblock %}