{% extends 'base.html' %}


{% block contenido %}
<div class="container" >
    <h3>Buscar Director</h3>
    
    <table>
        <form action="{% url 'director_resul' %}" method="get">
            <p>
                Nombre Director: <input type="text" name="nombre_director">
                <input class="btn btn-primary" type="submit" value="Buscar Director">

                <a href="{% url 'director-list' %}"  class="btn btn-secondary">Mostrar Todos</a> 
            </p>
        </form>
    </table>
    
    
    <p>------------------------------------------------------------------------------------------------</p>

</div>


<div class="container" >
    {% if request.user.is_superuser %}
    <h3>Crear Director</h3>

    <form class="form" method="post">
        {% csrf_token %}
        {{formulario.as_p}}
        <input class="btn btn-primary" type="submit" value="Guardar Director">
    
    </form>
    <p></p>
    {% endif %}
</div>
{% endblock %}

