{% extends 'base.html' %}


{% block contenido %}
<div class="container">
    <h3>Directores  disponibles</h3>
    <table class="table-primary" alignment="center">
        <form action="{% url 'director_resul' %}" method="get">
            <p>
                Nombre Director: <input type="text" name="nombre_director">
                <input class="btn btn-primary" type="submit" value="Buscar Director">
                
            </p>
        </form>
        
    
    <ul>
        {% if directores.count == 0 %}
        <p>No se encuentran directores</p>
        {% endif %}
        <table class="table-primary" alignment="center">
        {% for director in directores %}
            <li>{{director.apellido}} - {{director.nombre}}    <a class="btn btn-warning" href="{% url 'director-edit' director.id %}">  Editar</a> <a class="btn btn-danger" href="{% url 'director-delete' director.id %}">Borrar</a></li>
        {% endfor%}
        </table>
    </ul>
    </table>
    <a class="btn btn-secondary" href="{% url 'dires' %}">Volver</a>
</div>

{% endblock %}

