{% extends 'base.html' %}


{% block contenido %}
<h3>Productoras disponibles</h3>

<div class="container">
    <table class="table-secondary">
        <form action="{% url 'productora_resul' %}" method="get">
            <p>
                Nombre Productora: <input type="text" name="nombre_productora">
                <input class="btn btn-primary" type="submit" value="Buscar Productora">
                
            </p>
        </form>
        
    
    <ul>
        {% if productoras.count == 0 %}
        <p>No se encuentran productoras</p>
        {% endif %}

        {% for productora in productoras %}
        <li>{{productora.nombre}} - {{productora.inicio_act}} - {{productora.pais}} <a class="btn btn-warning" href="{% url 'productora-edit' productora.id %}">  Editar</a> <a class="btn btn-danger" href="{% url 'productora-delete' productora.id %}">Borrar</a></li>
        {% endfor%}


    </ul>
    </table>
    <a class="btn btn-secondary" href="{% url 'produ' %}">Volver</a>
</div>

{% endblock %}