{% extends 'base.html' %}


{% block contenido %}
<h3>Peliculas  disponibles</h3>
<div class="container">
    <table class="table-secondary">
        <form action="{% url 'peli_resul' %}" method="get">
            <p>
                Nombre Pelicula: <input type="text" name="nombre_peli">
                <input class="btn btn-primary" type="submit" value="Buscar Pelicula">
                
            </p>
        </form>
        
    
    <ul>
        {% if peliculas.count == 0 %}
        <p>No se encuentran peliculas</p>
        {% endif %}
        {% for peli in peliculas %}
            <li>{{peli.titulo}} - {{peli.fecha_Estreno}} <a class="btn btn-warning" href="{% url 'pelicula-edit' peli.id %}">  Editar</a> <a class="btn btn-danger" href="{% url 'pelicula-delete' peli.id %}">Borrar</a></li>
        {% endfor%}
    </ul>
    </table>
    <a class="btn btn-secondary" href="{% url 'pelis' %}">Volver</a>
</div>

{% endblock %}
